<!DOCTYPE html>
<html lang = "en"
      xmlns:th = "http://www.thymeleaf.org"
>
<head>
    <meta charset = "UTF-8">
    <title>Member Registration Form</title>
</head>
<body>
    <h1>
        Member Registration Form
    </h1>

    <form action = "/jpa/memberRegistrationOk"
          method = "post"
          id = "memberRegistration"
    >
        <label for = "name">Name</label>
        <input type = "text"
               id = "name"
               name = "name"
        >
        <br>

        <label for = "id">Id</label>
        <input type = "text"
               id = "id"
               name = "id"
        >
        <br>

        <label for = "phone">Phone</label>
        <input type = "text"
               id = "phone"
               name = "phone"
        >
        <br>
    </form>

    <!--*form 바깥에 버튼을 넣을 경우 form의 id를 넣어줘야함-->
    <button type = "submit"
            form = "memberRegistration"
    >회원등록</button>
</body>

<style>
    form > label {
        display: inline-block;
        width: 120px;
    }
    form > input {
        padding: 4px;
        margin-bottom: 4px;
    }
</style>
</html>